.wrapper {
  height: 44px;
}

.layout {
  display: inline-grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  width: max-content;
  position: relative;
}

.button {
  --font-button-label: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  --effect-elevated-button:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  --size-button: 36px;
  --inline-padding-button: 16px;
  --border-radius-button: 0px;
  --border-width-button: 0px;
  --opacity-color-layer: 0;
  --opacity-state-layer: 0;
  --elevation-button-container: none;

  margin: 0 4px;
  padding: 0 var(--inline-padding-button);
  height: var(--size-button);
  box-sizing: border-box;
  cursor: pointer;

  /* default theme load up */

	--color-button-container: var(--surface);
	--color-button-paint: var(--on-surface);
	--color-button-outline: var(--outline-variant);
	--color-state-layer: var(--on-surface);

  color: rgba(var(--color-button-paint), 1);
  background-color: rgba(var(--color-button-container), var(--opacity-color-layer));
  border: var(--border-width-button) solid rgba(var(--color-button-outline), 1);
  border-radius: var(--border-radius-button);
}

.button:any-link {
  text-decoration: none;
}

 /* button recipes */

.filled.qubit.button {
  --color-button-container: var(--primary);
  --color-button-paint: var(--on-primary);
  --opacity-color-layer: 1;
  --elevation-button-container:  var(--effect-elevated-button);
  --color-state-layer: var(--on-primary);
}

.filled-tonal.qubit.button {
  --color-button-container: var(--secondary-container);
  --color-button-paint: var(--on-secondary-container);
  --opacity-color-layer: 1;
  --elevation-button-container:  var(--effect-elevated-button);
  --color-state-layer: var(--on-secondary-container);
}

.outlined.qubit.button {
  --color-button-container: transparent;
  --color-button-paint: var(--primary);
  --opacity-color-layer: 1;
  --elevation-button-container: none;
  --border-width-button: 1px;
  --color-state-layer: var(--primary);
}

.label {
  padding: 0 8px;
  font-family: var(--font-button-label);
  font-size: 14px;
  color: var(--color-button-paint);
}

.icon {
  width: 16px;
  height: 16px;
  display: none;
}

.has-icon .icon {
  display: grid;
}

@media (hover: hover) {
    .button:hover {
        --opacity-state-layer: 0.08;
    }

    .button:hover {
        box-shadow: var(--elevation-button-container);
    }
    
    .button::after {
      background-color: rgba(var(--color-state-layer), var(--opacity-state-layer));
      border-radius: inherit;
      content: "";
      inset: 0;
      position: absolute;
  }
}

.button:active {
  --opacity-state-layer: 0.12;
}