

:root {
  --color__hue: 221;
  --color__sat: 100%;
  --color__ltn: 56%;
  --color__ap: 1;

  --color: hsla(
    var(--color__hue),
    var(--color__sat),
    var(--color__ltn),
    var(--color__ap)
  );

  --color--half: hsla(
    var(--color__hue),
    var(--color__sat),
    var(--color__ltn),
    calc(var(--color__ap) * .5));

  --color--light: hsla(
    calc(var(--color__hue) * 1.01357466063),
    calc(var(--color__sat) * 0 + 100%),
    calc(var(--color__ltn) * 0 + 74%),
    var(--color__ap)
  );

  --color--dark: hsla(
    calc(var(--color__hue) * 0.98190045248),
    calc(var(--color__sat) * 0 + 100%),
    calc(var(--color__ltn) * 0 + 35%),
    var(--color__ap)
  );

  --color-2ry__hue: 164;
  --color-2ry__sat: 77%;
  --color-2ry__ltn: 59%;
  --color-2ry__ap: 1;

  --color-2ry: hsla(
    var(--color-2ry__hue),
    var(--color-2ry__sat),
    var(--color-2ry__ltn),
    var(--color-2ry__ap)
  );

  --color-2ry--half: hsla(
    var(--color-2ry__hue),
    var(--color-2ry__sat),
    var(--color-2ry__ltn),
    calc(var(--color-2ry__ap) * .5));

  --color-2ry--light: hsla(
    calc(var(--color-2ry__hue) * 1.01357466063),
    calc(var(--color-2ry__sat) * 0 + 100%),
    calc(var(--color-2ry__ltn) * 0 + 74%),
    var(--color-2ry__ap)
  );

  --color-2ry--dark: hsla(
    calc(var(--color-2ry__hue) * 0.98190045248),
    calc(var(--color-2ry__sat) * 0 + 100%),
    calc(var(--color-2ry__ltn) * 0 + 35%),
    var(--color-2ry__ap)
  );

  --color__bg: hsla(
    var(--color__hue),
    var(--color__sat),
    calc(var(--color__ltn) * 0 + 100%),
    var(--color__ap)
  );
  --color__fg: hsla(
    var(--color__hue),
    calc(var(--color__sat) * 0),
    calc(var(--color__ltn) * 0 + 0.5%),
    var(--color__ap)
  );

  --color__fg--20: hsla(
    var(--color__hue),
    calc(var(--color__sat) * 0),
    calc(var(--color__ltn) * 0 + 20%),
    var(--color__ap)
  );

  --color__mg: hsla(
    var(--color__hue),
    calc(var(--color__sat) * 0),
    calc(var(--color__ltn) * 0 + 49.5%),
    var(--color__ap)
  );

  --color__warning: hsla(
    353,
    97%,
    63%,
    1
  );
  
  --color__null: rgba(0, 0, 0, 0);


}

.wrapper.color {
  font: var(--font__display);
  color: var(--color__bg);
  background: var(--color);
}
.wrapper.color--light {
  background: var(--color--light);
  color: var(--color__fg)
}
.wrapper.color--dark {
  background: var(--color--dark);
  color: var(--color__bg)
}
.wrapper.color-2ry {
  background: var(--color-2ry);
  color: var(--color__fg)
}
.wrapper.color-2ry--light {
  background: var(--color-2ry--light);
  color: var(--color__fg)
}
.wrapper.color-2ry--dark {
  background: var(--color-2ry--dark);
  color: var(--color__bg)
}
.wrapper.color__fg {
  background: var(--color__fg);
  color: var(--color__bg)
}
.wrapper.color__bg {
  background: var(--color__bg);
  color: var(--color__fg)
}
.wrapper.color__mg {
  background: var(--color__mg);
  color: var(--color__bg)
}
.wrapper.color__warning {
  background: var(--color__warning);
  color: var(--color__bg)
}
