
/* megnézni a gombokat 32/36px hei, border rad
elevationnek külön wrapperrel kell kiemelni */

:root {
  color-scheme: light dark;
}

body * {
  outline: 0.1px solid #FF00FF22;
}

.wrapper {
  height: 44px;
}

.theme {
  --font-button-label: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", sans-serif;
  --elevated-button-effect:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  --button-size: 36px;
  --button-padding-size: 16px;
  --border-radius-button: 0px;
  --border-width-button: 0px;
  --opacity-color-layer: 0;
  --opacity-state-layer: 0;
  --elevation-button-container: none;
}

@media (prefers-color-scheme: light) {
  .theme {
    --color-button-container: 44, 44, 44;
    --color-button-paint: 0, 0, 0;
    --color-button-outline: 0, 0, 0;
    --color-state-layer: black;
  }
}

@media (prefers-color-scheme: dark) {
  .theme {
    --color-button-container: 211, 211, 211;
    --color-button-paint: 255, 255, 255;
    --color-button-outline: 255, 255, 255;
    --color-state-layer: white;
  }
}

.layout {
  display: inline-grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  
  width: max-content;
  position: relative;
}

.button {
  margin: 0 4px;
  padding: 0 var(--button-padding-size);
  height: var(--button-size);
  box-sizing: border-box;
  cursor: pointer;

  color: rgba(var(--color-button-paint), 1);
  background-color: rgba(var(--color-button-container), var(--opacity-color-layer));
  border: var(--border-width-button) solid rgba(var(--color-button-outline), 1);
  border-radius: var(--border-radius-button);
}

@media (prefers-color-scheme: light) {
  .filled.qubit {
    --color-button-container: 131, 14, 226;
    --color-button-paint: 255, 255, 255;
    --opacity-color-layer: 1;
    --elevation-button-container:  var(--elevated-button-effect);
  }

  .outlined.qubit {
    --color-button-outline: 136, 136, 136;
    --opacity-color-layer: 0;
    --border-width-button: 1px;
    --color-button-paint: 131, 14, 226;
  }
}

@media (prefers-color-scheme: dark) {
  .filled.qubit {
    --color-button-container: 217, 185, 255;
    --color-button-paint: 70, 0, 133;
    --opacity-color-layer: 1;
    --elevation-button-container:  var(--elevated-button-effect);
  }

  .outlined.qubit {
    --color-button-outline: 73, 73, 73;
    --opacity-color-layer: 0;
    --border-width-button: 1px;
    --color-button-paint: 217, 185, 255;
  }
}

.tonal {

}

.label {
  padding: 0 8px;
  font-family: var(--font-button-label);
  font-size: 14px;
}

.icon {
  width: 16px;
  height:16px;
  display: none;
}

.has-icon .icon {
  display: grid;
}

@media (hover: hover) {
    .theme:hover {
        --opacity-state-layer: 0.08;
    }

    .button:hover {
        box-shadow: var(--elevation-button-container);
    }
    
    .theme::after {
      background-color: var(--color-state-layer);
      border-radius: inherit;
      content: "";
      inset: 0;
      opacity: var(--opacity-state-layer);
      position: absolute;
  }
}

.theme:active {
  --opacity-state-layer: 0.12;
}