



/*
ICON, in text, scripts
https://www.geeksforgeeks.org/css-to-put-icon-inside-an-input-element-in-a-form/
https://dev.to/neshaz/input-text-everything-you-should-know-7b4
https://www.w3schools.com/js/js_htmldom_events.asp
*/

.in {
  transition: box-shadow 100ms ease-out;
  -webkit-appearance: none;
  box-sizing: border-box;
  border-style: var(--border__style);
  border-width: calc(var(--border__width) * var(--bordered));
  border-color: var(--color);
  height: calc(var(--button__height) + var(--border__width));
  border-radius: calc(var(--icon-size) * var(--rounded));
  width: 100%;

  font:var(--font);
  color:var(--color__fg);
  background-color: var(--color__bg);

  -webkit-text-fill-color:var(--color__fg);
  opacity: 1; 
  text-rendering: optimizeSpeed;
  transform: translateZ(0);
}
.in {
  padding: var(--pad__vertical--sync) 
  var(--pad__horizontal--sync)
  ;
}
.in--filled {
  border-width: 1px;
}
.in__area {
 display: grid;
 grid-auto-flow: row;
 grid-gap: calc(var(--icon-size) / 3);
 width: 100%;
}
.caption {
  color:var(--color__fg--20);
  height: calc(var(--size) * .75);
  font: var(--font__display);
  text-transform: uppercase;
  padding: 0 var(--pad__horizontal--sync);
}
.info {
  padding: 0 var(--pad__horizontal--sync);
  justify-content: start;
  align-items: start;

}
.info__icon svg.icon {
  /* 24px --> 16px */
  width: calc(var(--icon-size) * calc(4 / 6));
  height: calc(var(--icon-size) * calc(4 / 6));
  color:var(--color);
  fill:currentColor;
}

.info__text {
  font: var(--font__display);
  line-height: 16px;
}