::-moz-focus-inner {
  border: 0;
}

:root {
  --font: 400 1rem/1.4 "Roboto";
  --font__title: 700 3rem/1.4 "Nunito";
  --font__action: 900 1rem/1 "Nunito";
  --font__display: 400 0.75rem/1.2 "Roboto";
  --font__show: 400 0.75rem/1.2 "Ubuntu Mono"; 

  --icon-size:1.5rem;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  position: relative;
}
svg {
  display: block;
  fill:currentColor;
}
svg.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
body {
  background-color: var(--color__mg);
  color: var(--color__bg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--font);
}
body * {
  outline:0px solid grey;
}

.btn {
  background: var(--color__null);
  color: var(--color);
  border-color: var(--color);
  border: 1px solid;

  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  margin: 1rem;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.btn--hi {
  background: var(--color);
  color: var(--color__bg);
  border: 1px solid;
  border-color: var(--color);
}
.btn--lo {
  background: var(--color--null);
  color: var(--color);
  border-color: var(--color--null);
  border: 1px solid var(--color--null);
}
.inverse .btn {
  color:var(--color__bg);
  border-color:var(--color__bg)
}
.btn__content {
  border-bottom: 0px solid;
  height: var(--icon-size);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.btn__icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 0.25rem;
}
.btn__text {
  font: var(--font__action);
  letter-spacing: .03125rem;
}
button:focus,
a:focus,
input:focus,
textarea:focus {
  box-shadow: 0 0 0 0.25rem var(--color--light);
  outline: 1px solid var(--color__null);
  transition: box-shadow 50ms ease-out;
}

@font-face {
  font-family: "Boxed";
  font-style: bold;
  font-weight: 700;
  src: url("https://444.hu/assets/blog/static/fonts/boxed-semibold-webfont-a765a8c02811b9e0a116e7a73741c5e0.woff")
    format("woff2");
}
@font-face {
  font-family: "Boxed";
  font-style: normal;
  font-weight: 400;
  src: url("https://444.hu/assets/blog/static/fonts/boxed-light-webfont-cc46c410c2c3fa7285ebff18981fbbf5.woff")
    format("woff2");
}

@font-face {
  font-family: "Boxed";
  font-style: heavy;
  font-weight: 900;
  src: url("https://tbg444.github.io/444demo/Boxed-Heavy-webfont.woff")
    format("woff2");
}

@media only screen and (min-width: 64.063em) {
}
