

html, body {height: 100%;}

html {position: relative;}
body, figure, h1, h2, h3, h4,p {margin:0px;padding:0px;position: relative;}
body * {outline:.0px solid rgba(0, 0, 0, 0.2);box-sizing: border-box;}
figure, img {width: 100%; border-radius: 8px;}
img  {height: 100%;}
header {width: 100%; height: 360px; background-image: url('i/jo-hdr-bg.png');background-position:center center; background-size:cover;}
svg {width: 100%;
    height: 100%;
    display: block;}
main {width: 100%; height: 100%; margin: 0 auto;background-image: linear-gradient(to bottom, #4aa0a7, #142b2d);}
section {display: flex; flex-direction: column; flex-wrap: wrap; width: 100%; margin:0 auto;}
.col-1 {width: 100%;}
.col-2 {width: 100%;}
.col-3 {width: 100%;}
.flex-col {display: flex;flex-direction: column;justify-content: space-between;}
.flex-row {display: flex; flex-direction: column;}

article {border-radius: 16px; border:8px solid rgb(255, 255, 255); padding: 8px;baackground-image: linear-gradient(to top, #fcb94b, #ffb898, #ffcbdb, #ffe8ff, #ffffff); background-color: #ffffff; box-shadow: #255054 2px 8px 16px;}
h1 {font-size: 36px; letter-spacing: -2px;  font-weight: 700;}
h2 {font-size: 24px;  font-weight: 400; letter-spacing: 1px;}
h3 {font-size: 20px;  font-weight: 700;}
h4 {font-size: 20px; letter-spacing: 1px;  font-weight: 400;;}
h4 {margin-top: 1em}
h4:first-child {margin-top: 0em;}
p {font-size: 16px; font-family: 'Noticia Text',serif !important; font-weight: 400 !important; margin-top: .75em;}
div>* {margin-right: 0px;}
div>*:last-child {margin-right: 0px;}
div.solo {margin-left: 0px;}
div {padding: 40px 20px; border-bottom:1px solid lightgrey;margin:0;}
.flex-col>article>*:first-child , .flex-row>article>*:first-child {margin-top: 1.5em}
.flex-col>article:first-child>*:first-child, .flex-row>article:first-child>*:first-child {margin-top: 0em;}
.col-2.flex-col article {width: 100%}
.flex-row article {
display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main h1,h2,h3 {font-family: 'Boxed', Boxed Semibold, "Boxed Semibold", "Boxed", Boxed; line-height:1.2; }
h4 {font-family: 'Baloo Paaji', 'Modak', 'Nunito'; font-weight: 100; line-height: 1.4em;}

/*font-family: 'Modak', cursive;
font-family: 'Baloo Paaji', cursive;
font-family: 'Titan One', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Bungee', cursive;
font-family: 'Coiny', cursive;
font-family: 'Baloo Bhai', cursive;*/

@font-face {
 font-family: 'Boxed';
 font-style: bold;
 font-weight: 700;
 src: url('https://444.hu/assets/blog/static/fonts/boxed-semibold-webfont-a765a8c02811b9e0a116e7a73741c5e0.woff') format('woff2');
}
@font-face {
 font-family: 'Boxed';
 font-style: normal;
 font-weight: 400;
 src: url("https://444.hu/assets/blog/static/fonts/boxed-light-webfont-cc46c410c2c3fa7285ebff18981fbbf5.woff") format('woff2');
}

@media only screen and (min-width: 64.063em) {
	section {width: 1190px; display: flex; flex-direction: row;}
	.col-1 {width: 31%;}
	.col-2 {width: 66.6%;}
	.col-3 {width: 100%;}
	.flex-col {display: flex;flex-direction: column;justify-content: space-between;}
	.flex-row {display: flex; flex-direction: row;}
	h1 {font-size: 60px;}
	h2 {font-size: 32px;}
	h3 {font-size: 26px;}
	h4 {font-size: 20px;}
	h4 {margin-top: 0em}
	h4:first-child {margin-top: 0em;}
	p {font-size: 16px; font-family: 'Noticia Text',serif !important; font-weight: 400 !important; margin-top: .75em;}
	div>* {margin-right: 24px;}
	div>*:last-child {margin-right: 0px;}
	div {padding:36px 0 24px 0;border-bottom:1px solid lightgrey;margin: 0;}
	div.solo {margin-left: 24px;}
	.flex-col>article>*:first-child {margin-top: 2em}
	.flex-col>article:first-child>*:first-child {margin-top: 0em;}
	.flex-row>article>*:first-child {margin-top: 0em}
	.flex-row>article:first-child>*:first-child {margin-top: 0em;}
	.col-2.flex-col article {width: 80%}
	.flex-row article {display: flex;flex-direction: column;justify-content: space-between;}
item.menuitem {position:relative; 
	border-left:5px solid black;
	padding: 8px 4px 8px 16px;
	font-family: 'Ubuntu Mono' !important;
	font-weight:300 !important;
    line-height: 2 !important;
    font-size: 1rem;
    white-space: nowrap;
    outline: 0px solid black;
    margin: 0;
	}
item.menuitem a {color:black;font-family: 'Ubuntu Mono' !important;
	font-weight:300 !important;}
}


