:root {
  --primary-color: #f1bb60;
  --black-light: #111;
  --black: #111;
  --title-font: "Bungee";
  --body-font: "Rubik";
  --body-font-size: 1.125rem;
  --body-font-size-large: calc(var(--body-font-size) * 1.25);
  --body-font-size-small: calc(var(--body-font-size) / 1.25);
  --desktop-content-width: 640px;
  --desktop-gap-small: .5rem;
  --desktop-gap-normal: 1rem;
  --desktop-gap-large: 2rem;
  --icon-size: 1.5rem;
  --white-light: #fff;
  --sponsored-primary-color:#144171;
  --sponsored-light-color:#fff;
  --sponsored-background-color:#0e1f31;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  margin: 0;
}
figure {margin:0;}
.header-item,
h2 {
  font-size: 2rem;
}
h5 {
  font-size: 1.625rem;
  line-height: 1.4em;
}
h5 span {
  color: var(--black-light);
  background-color: var(--primary-color);
  font-size: inherit;
  padding: 0.5rem;
  display: inline-block;
  line-height: 1;
}
body.sponsored h5 span {
  background-color: var(--sponsored-primary-color);
  color: var(--sponsored-light-color)
}
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}
body {
  color: var(--black-light);
  box-sizing: border-box;
  font-family: var(--body-font);
}
body * {
  outline: 0px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.header-item span {
  color: var(--white-light);
}
body {
  margin: 0;
  display: grid;
  grid-template-rows: 4rem auto auto minmax(20rem, 40vh) auto auto 4rem;
  grid-template-columns: 1fr 960px 1fr;
  grid-template-areas:
    "header header header"
    "navigation navigation navigation"
    "advert-top advert-top advert-top"
    "hero hero hero"
    "content content content"
    "advert-bottom advert-bottom advert-bottom"
    "footer footer footer";
}
body.sponsored {
  background-color: var(--sponsored-background-color);
}

.header-item {
  font-family: var(--title-font);
  line-height: 1;
}
.header, .footer {
  background-color: var(--primary-color);
}
.header, .footer, .advert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  grid-area: footer;
}
.header {
  grid-area: header;
}
.navigation {
  grid-area: navigation;
  background-color: var(--primary-color);
}
.hero.over-article {
  grid-area: hero;
}
.hero {
  background-size: cover;
  background-position: center 66%;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 0.8) 1rem,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.8) calc(100% - 1rem),
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://4cdn.hu/kraken/image/upload/s--XVVVV398--/7JX40vtjy4WzUyKTs.jpeg");
  display: flex;
  flex-direction: column;

}
.hero .sponsored-item-logo {
  width: 7.5rem;
  height: 7.5rem;
  align-self: flex-end;
}
.hero .sponsored-item-tagline {
  font-family: "Volvo";
  color: #fff;
  font-size: 1.5rem;
  margin: 0 2.35rem;
  align-self: flex-end;
  justify-self: flex-end;
  text-align: right;
}
body.sponsored .advert-bottom {
  height: 12rem;
}
.sponsored.banner {
  color:var(--sponsored-light-color);
  margin: var(--desktop-gap-normal) var(--desktop-gap-large);
  font-family: var(--body-font);
  font-size: var(--body-font-size-large);
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 88%;
}
.article-byline .byline-author,
.article-byline .byline-date {
  text-transform: none;
  font-size: var(--body-font-size-small);
  letter-spacing: 1px;
  font-family: var(--body-font);
}

.content {
  grid-area: content;
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: 1fr 320px 640px 1fr;
  margin: var(--desktop-gap-normal) 0;
}
.advert-top {
  grid-area: advert-top;
}
.advert-bottom {
  grid-area: advert-bottom;
}
p {
  font-size: var(--body-font-size);
  font-family: var(--body-font);
  letter-spacing: 0px;
  line-height: 1.8em;
}
a {
  text-decoration: none;
  color: inherit;
}
p a, .article-tags-item a {
  color: inherit;
  border-bottom: 4px solid var(--primary-color);
  text-decoration: none;
}
p a:hover, .article-tags-item a:hover {
  background-color: var(--primary-color);
  text-decoration: none;
  transition: background-color 350ms ease-out;
}

.article-byline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.article-foot .article-front-image figure img {
  width: 100px;
  height: 100px;
}
.content figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.byline-item, .foot-item {
  border: 4px var(--black-light);
  padding: var(--desktop-gap-normal);
  flex: 0 0 auto;
}
.article-byline .byline-item {
  border-bottom:4px solid;
  border-left:4px solid;
}
.article-foot .foot-item {
  border-top:4px solid;
  border-left:4px solid;
}
.byline-item:first-child {
  border-left: 0;
}
.byline-item:last-child {
  flex: 1 0 auto;
}
.foot-item:first-child {
  border-left: 0;
}
.foot-item:last-child {
  flex: 1 0 auto;
  }
.byline-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.byline-item-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 1rem;
}
.article-tags {
  margin: 0 auto;
  list-style: none;
}
.article-tags-item {
  text-transform: uppercase;
  font-size: var(--body-font-size-small);
  display: inline-block;
  white-space: nowrap;
  margin:var(--desktop-gap-small);
}
.content {
  display: grid;
  grid-template-columns: 1fr 320px 640px 1fr;
  margin: var(--desktop-gap-normal) 0;
}
.content-bg {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  background-color: var(--white-light);
  z-index: -1;
}

.article-head,
.article-byline,
.article-foot {
  margin: var(--desktop-gap-normal) var(--desktop-gap-large);
  grid-column: 2 / 4;
}
.article-byline {margin-bottom: var(--desktop-gap-large);}
.article-foot {margin-top: var(--desktop-gap-large);}
.hero.in-article {
  grid-column: 1 / 5;
  height: 500px;
  margin: var(--desktop-gap-normal) 0;
  border-bottom: 2rem solid  #26323E;
  border-top: 2rem solid  #26323E;
}
.content > p,
.content > h2,
.content > figure.article-standard,
.content > figure.article-large {
  grid-column: 3 / 4;
  margin: var(--desktop-gap-normal) var(--desktop-gap-large);
}
.content > figure.article-large {
  grid-column: 2 / 4;
}

@font-face {
  font-family: "Volvo";
  font-style: bold;
  font-weight: 700;
  src: url("https://tbg444.github.io/444demo/VolvoBroad.woff") format("woff2");
}
