:root {
  --primary-color: #f1bb60;
  --black-light: #111;
  --black: #111;
  --title-font: "Bungee";
  --body-font: "Rubik";
  --body-font-size: 1.125rem;
  --body-font-size-large: calc(var(--body-font-size) * 1.25);
  --body-font-size-small: calc(var(--body-font-size) / 1.25);
  --body-font-size-small-xx: calc(var(--body-font-size) * 0.75);
  --desktop-gap-small: 0.5rem;
  --desktop-gap-normal: 1rem;
  --desktop-gap-large: 2rem;
  --icon-size: 1.5rem;
  --white-light: #fff;
  --tamog-primary-color: #144171;
  --tamog-light-color: #fff;
  --tamog-dark-color: #111;
  --tamog-background-color: #111;
  --hero-frame-size: 62rem;
  --header-height:4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  margin: 0;
}
figure {
  margin: 0;
}
svg {
  display: block;
}
.header-item,
h2 {
  font-size: 1rem;
  line-height: 1.4;
}
.header-item {
  border: 0;
}
h5 {
  font-size: 0.875rem;
  line-height: 1.4em;
}

h5 span {
  color: var(--black-light);
  background-color: var(--primary-color);
  font-size: inherit;
  padding: 0.5rem;
  display: inline-block;
  line-height: 1;
}
body.tamog h5 span {
  background-color: var(--tamog-primary-color);
  color: var(--tamog-light-color);
}
h1 {
  font-size: 1.5rem;
  line-height: 1.2;
}
.byline-item-text {
  font-size: var(--body-font-size-small-xx);
}
body {
  color: var(--black-light);
  box-sizing: border-box;
  font-family: var(--body-font);
}
body * {
  outline: 0px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.header-item span {
  color: var(--white-light);
}
body {
  margin: 0;
  display: grid;
  grid-template-rows: var(--header-height) auto auto auto auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "navigation" "menubar-top" "hero" "content" "menubar-bottom" "footer";
  z-index: 0;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

body.tamog {
  background-color: var(--tamog-background-color);
}

.header-item {
  font-family: var(--title-font);
  line-height: 1;
}
.header,
.footer {
  background-color: var(--primary-color);
}
.header,
.footer,
.menubar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.tamog .menubar {
  justify-content: flex-end;
}
.footer {
  grid-area: footer;
}
.header {
  grid-area: header;
}
.navigation {
  grid-area: navigation;
  background-color: var(--primary-color);
}
.hero.over-article {
  grid-area: hero;
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  height: calc(var(--hero-frame-size) / 2);
  z-index: -2;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.hero {
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      to top,
      rgba(17, 17, 17, 1) 0,
      rgba(17, 17, 17, 0.8) 1rem,
      rgba(17, 17, 17, 0) 50%,
      rgba(17, 17, 17, 0.8) calc(100% - 1rem),
      rgba(17, 17, 17, 1) 100%
    ),
    url("https://4cdn.hu/kraken/image/upload/s--xDKM7xER--/7JYXx0a7hG7x2DG1TWs.jpeg");
  background-image: linear-gradient(
      to bottom,
      
      rgba(17, 17, 17, 0) 50%,
      rgba(17, 17, 17, 0.8) calc(100% - 1rem),
      rgba(17, 17, 17, 1) 100%
    ),
    url("https://4cdn.hu/kraken/image/upload/s--xDKM7xER--/7JYXx0a7hG7x2DG1TWs.jpeg");
  box-shadow: rgba(17, 17, 17, 0.4) 0 0.5rem 1rem;
}
.tamog-container {
  display: flex;
  flex-direction: column;
}
.tamog-container2 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: sticky;
  position: -webkit-sticky;
  top: var(--header-height);
  align-items: flex-end;
  height: calc(var(--hero-frame-size) / 2);
}

.tamog-item {
  display: flex;
  flex-flow: column;
  margin: var(--desktop-gap-large);
  align-items: center;
}
.tamog-item-logo {
  display: block;
  width: 5rem;
  height: 5rem;
}
.tamog-item-tagline {
  display: block;
  font-family: "Volvo";
  color: var(--tamog-dark-color);
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}

body.tamog .menubar-bottom {
  height: 52rem;
}
.tamog.zaszlo {
  color: var(--tamog-light-color);
  margin: calc(var(--desktop-gap-large) * 2);
  font-family: var(--body-font);
  font-size: var(--body-font-size-large);
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 88%;
}
.byline-author,
.byline-date {
  text-transform: none;
  font-size: var(--body-font-size-small);
  letter-spacing: 1px;
  font-family: var(--body-font);
}

.content {
  grid-area: content;
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: 1fr auto 640px 1fr;
}
.menubar-top {
  grid-area: menubar-top;
}
.menubar-bottom {
  grid-area: menubar-bottom;
}
p {
  font-size: var(--body-font-size-small);
  font-family: var(--body-font);
  letter-spacing: 0px;
  line-height: 1.8em;
}
a {
  text-decoration: none;
  border-bottom: 4px solid var(--primary-color);
  color: inherit;
}
a:hover {
  background-color: var(--primary-color);
  text-decoration: none;
  transition: background-color 350ms ease-out;
}
.footer-links-item a {
  border-bottom: 4px solid var(--black);
}
.footer-links-item a:hover {
  background-color: var(--white-light);
}
.links-item-icon a,
.links-item-icon a:hover {
  border: 0px;
}
.article-byline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.article-foot .article-front-image figure img {
  width: 100px;
  height: 100px;
}
.content figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.byline-item,
.foot-item {
  border: 4px var(--black-light);
  padding: var(--desktop-gap-small);
  flex: 0 0 auto;
}
.article-byline .byline-item {
  border-bottom: 4px solid;
  border-left: 4px solid;
}
.article-foot .foot-item {
  border-top: 4px solid;
  border-left: 4px solid;
}

.byline-item:last-child {
  flex: 1 0 auto;
}
.foot-item:first-child {
  border-left: 0;
}
.foot-item:last-child {
  flex: 1 0 auto;
}
.byline-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.byline-item-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 1rem;
}
.footer-links-item-icon {
  width: calc(var(--icon-size) * 0.75);
  height: calc(var(--icon-size) * 0.75);
}
.article-tags,
.footer-links {
  margin: 0 auto;
  list-style: none;
  padding: var(--desktop-gap-normal);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.article-tags-item,
.footer-links-item {
  text-transform: uppercase;
  font-size: var(--body-font-size-small);
  display: inline-block;
  white-space: nowrap;
  margin: var(--desktop-gap-small);
}
.content {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  padding: var(--desktop-gap-large) 0;
  background-color: var(--white-light);
}

.content-bg {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  background-color: var(--white-light);
  z-index: -1;
}

.article-head,
.article-byline,
.article-foot {
  margin: var(--desktop-gap-normal) var(--desktop-gap-large);
  grid-column: 2 / 4;
}

.article-byline {
  margin-bottom: var(--desktop-gap-normal);
}
.article-foot {
  margin-top: var(--desktop-gap-large);
}
.hero.in-article {
  grid-column: 1 / 5;
  height: 500px;
  margin: var(--desktop-gap-normal) 0;
  border-bottom: 2rem solid #26323e;
  border-top: 2rem solid #26323e;
}
.content > p,
.content > h2,
.content > figure.article-standard,
.content > figure.article-large {
  grid-column: 3 / 4;
  margin: var(--desktop-gap-normal) var(--desktop-gap-large);
}
.content > figure.article-large {
  grid-column: 2 / 4;
}

/* viewport */

@media only screen and (min-width: 40rem) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  h2,
  .header-item {
    font-size: 2rem;
    line-height: 1.4;
  }
  h5 {
    font-size: 1.625rem;
    line-height: 1.4em;
  }
  p {
    font-size: var(--body-font-size);
    font-family: var(--body-font);
    letter-spacing: 0px;
    line-height: 1.8em;
  }
  .byline-item-text {
    font-size: var(--body-font-size);
  }
  .byline-item,
  .foot-item {
    border: 4px var(--black-light);
    padding: var(--desktop-gap-normal);
    flex: 0 0 auto;
  }
  .byline-item:first-child {
    border-left: 0;
  }
  .byline-item:last-child {
    flex: 1 0 auto;
    border-bottom: 4px solid;
  }
  .article-byline {
    margin-bottom: var(--desktop-gap-large);
  }

  .tamog.zaszlo {
    margin: calc(var(--desktop-gap-large) * 4);
  }
  body.tamog .menubar-bottom {
    height: var(--hero-frame-size);
  }
  .content {
    display: grid;
    grid-template-columns: auto 1fr 640px auto;
    padding: var(--desktop-gap-large) 0;
  }
  .tamog-container2 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    justify-content: flex-start;
    position: sticky;
    position: -webkit-sticky;

    align-items: flex-end;
  }
}

@media only screen and (min-width: 64rem) {
  body {
    grid-template-rows: var(--header-height) auto auto auto auto auto auto;
    grid-template-columns: 1fr 960px 1fr;
    grid-template-areas:
      "header header header"
      "navigation navigation navigation"
      "menubar-top menubar-top menubar-top"
      "hero hero hero"
      "content content content"
      "menubar-bottom menubar-bottom menubar-bottom"
      "footer footer footer";
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 320px 640px 1fr;
    padding: var(--desktop-gap-large) 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .hero.over-article {
    grid-area: hero;
    /* sullyesztes */
    grid-column: 1 / 4;
    grid-row: 4 / 8;
    height: var(--hero-frame-size);
    z-index: -2;
  }

  .tamog-container2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-content: flex-start;
    align-items: flex-end;
    height: calc(var(--hero-frame-size) / 2);
  }
  .tamog-item-logo {
    display: block;
    width: 7.5rem;
    height: 7.5rem;
  }
  .tamog-item-tagline {

    font-size: 1.5rem;
  }
  .content-bg {
    grid-column: 2 / 3;
    grid-row: 5 / 6;

    z-index: -1;
  }
}

@media only screen and (min-width: 85.375rem) {
  .tamog-container2 {
    grid-column: 3 / 4;
    align-items: center;
  }
  .tamog-item {
    margin-top: var(--desktop-gap-large);
  }
}

@font-face {
  font-family: "Volvo";
  font-style: bold;
  font-weight: 700;
  src: url("https://tbg444.github.io/444demo/VolvoBroad.woff") format("woff2");
}
