body * {outline:.0px solid rgba(0, 0, 0, 0.2);box-sizing: border-box;}

html { background-color: rgba(0, 0, 0, 0.8); margin:0;}
section {display:flex; flex-direction: column; width: 100%;margin:2rem auto; align-items: center;}
section.mobil { flex-direction: row;    justify-content: space-around;    align-items: flex-start;}
section.txt {font-family: 'Ubuntu Mono'; padding:8rem 4rem 4rem;font-size:2rem; color:white;}
img {margin:2rem auto; outline: 2rem solid black;}
img.desktop {width: initial;} /* WTF ILLUSTRATOR */
img.mobil {width: initial;}

.svg {    
    margin: 0 auto;
    background-color: white;
    }

.svg-1440 {
    width: 1440px;
    height: 1800px;

    background-image: url('i/SVG/pr-card-oversized.svg')
}