body {
    margin: 0;
    color: white;
    display: grid;
    grid-template-columns: 150px 1rem 1fr;
    grid-template-rows: 200px minmax(auto, auto);
    grid-template-areas: 
    "header header header"
    "aside . main";
    margin:1rem;
}
body * {
  outline: 0px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: "Ubuntu Mono";
}
a {
  display: inline;
}

html {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
}
aside {
  position: relative;
  grid-area: aside;
}
header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  border-bottom:1px solid magenta;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
}
section.txt {
  color: magenta;
  font-size: large;
}
img {
    background-color: white;
}
.showreel img {
  width: initial;
}

.showreel, .menu {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(18, auto);
  align-items: center;
  justify-items: center;
}
.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  grid-template-rows: repeat(1, auto);
  grid-area: aside;
  width: 150px;
  justify-items: start;
  grid-gap: 2rem;
  word-break: break-word;
  padding:1rem;
  border-top:1px solid magenta;
  margin-top:-1px;
}

.menu, img {
  box-shadow: rgba(0,0,0,.5) 0 .5rem 1rem;
}
.showreel span {
  width: 50%;
  border-bottom: 1px solid lightgrey;
  margin: 12rem 0 6rem;
  font-size: 2rem;
  line-height: 1.444;
  color: white;
}

.showreel span.tooltip {
  color: magenta;
  border-bottom: 1px solid magenta;
  width: 55%;
  font-size: larger;
  margin-left: 5%;
}

.showreel span span {
  color: #ffff75;
  border:0;
  width: 55%;
  font-size: medium;
  margin-left: 5%;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}