.container {
  color: hsl(300, 100%, 100%);
  min-width: 15rem;
}
.container__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0.5rem 0;
}

.lbl {
  font: var(--font__show);
  align-self: baseline;
  margin: 0.5rem 0;
}
main {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}
.wrapper {
  background: var(--color__bg);
  background: linear-gradient(
    170deg,
    var(--color__bg),
    var(--color__bg),
    hsla(
    calc(var(--color-2ry__hue) * 1.01357466063),
    calc(var(--color-2ry__sat) * 0 + 10%),
    calc(var(--color-2ry__ltn) * 0 + 74%),
    var(--color-2ry__ap)
    )
  );

  min-height: 4.625rem;
  min-width: 100%;
  box-shadow: hsla(0, 0%, 0%, 0.2) 0 0.25rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper.inverse {
  background: linear-gradient(
    170deg,
    var(--color--dark),
    var(--color--dark),
    hsla(
    calc(var(--color__hue) * 0.98190045248),
    calc(var(--color__sat) * 0 + 100%),
    calc(var(--color__ltn) * 0 + 25%),
    var(--color__ap))
  );
}
