html,
body,
* {
  margin: 0;
  padding: 0;
  position: relative;
}
body {
  background-color: 
  hsla(
    var(--color__hue),
    calc(var(--color__sat) * 0),
    calc(var(--color__ltn) * 0 + 39.5%),
    var(--color__ap)
  );
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font: var(--font);
  padding: 1rem;
}

.container {
  color: hsl(300, 100%, 100%);
  width: 15rem;
}
.container__item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0.5rem 0;
}

.lbl, ul, li {
  font: var(--font__show);
  align-self: baseline;
  margin: 0.5rem 0;
  padding: 0;
  padding-inline-start: 0;
  list-style: none;
  list-style-position: inside;
  word-break: break-word;
  overflow-x:hidden;
  width: 100%;
  display: block;
}
li {
  color: var(--color-2ry--light);
  width: 80%;
}
main {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1.5rem;
}
.wrapper {
  background-color: var(--color__bg);
  
  min-height: 4rem;
  min-width: calc(100% - calc(var(--pad) * 2));

  display: flex;
  align-items: center;
  justify-content: center;

  padding:var(--pad);

}
.wrapper.color {
  min-width: 33%;
}
.wrapper.inverse {
  background-color: var(--color__fg);
}
.wrapper.warning {
  
}

@media only screen and (min-width: 40rem) {

    main {

        grid-auto-flow: column;

      }
}